/* Reset de margens e preenchimento padrão para o corpo e elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Uso de unidades relativas para melhor adaptação */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(41, 61, 170, 0.945);
  color: white;
}

/* Estilo para o cabeçalho (header) */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #09ec60;
}

.logo-senai img {
  max-width: 100px;
  height: auto;
}

.menu a {
  text-decoration: none;
  margin-right: 20px;
  color: white;
  border-radius: 5px;
}

.menu a:hover {
  color: rgb(88, 240, 0);
  background-color: black;
  border: 5px solid black;
}

.responsaveis {
  background-color: black;
  border: 5px solid black;
  border-radius: 30px;
}

/* Estilo para o conteúdo principal (main) */
main {
  padding: 20px;
}

.card1, .card2 {
  background-color: rgba(121, 103, 239, 0.472);
  border: 1px solid #ddd;
  width: 500px;
  display: inline-block;
  margin-left: 150px;
}

.card2 {
  margin-left: 0;
}

.apresentacao-profissionais .card1  {
  border-radius: 20px;
}

.apresentacao-profissionais .card2 {
  border-radius: 20px;
}
.apresentacao-profissionais h2, .equipes h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: lighter;
}

.apresentacao-profissionais h3, .equipes h3 {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.apresentacao-profissionais .card1 img {
  margin-left: 40px;
  margin-top: 20px;
  border-radius: 10px;
}
.apresentacao-profissionais .card2 img {
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 10px;
}
.apresentacao-profissionais img, .equipes img {
  width: 90%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 20px;
}

.equipes img {
  width: 60%;
  margin-left: 300px;
}

.apresentacao-profissionais p, .equipes p {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: rgb(0, 0, 0);
}

/* Estilo para o rodapé (footer) */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Estilo para a classe final no rodapé */
.final p {
  font-size: 16px;
}

  
