/* Reset de margens e preenchimento padrão para o corpo e elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Uso de unidades relativas para melhor adaptação */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(41, 61, 170, 0.945);
  margin: 0;
  color: white;
}

/* Estilo para o cabeçalho (header) */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #09ec60;
}

.logo-senai img {
  max-width: 100px;
  height: auto;
}

.menu a {
  text-decoration: none;
  margin-right: 20px;
  color: white;
  border-radius: 5px;
}

.menu a:hover {
  color: rgb(88, 240, 0);
  background-color: black;
  border: 5px solid black;
}

.cronograma {
  background-color: black;
  border: 5px solid black;
  border-radius: 30px;
}

/* Estilo para o conteúdo principal (main) */
main {
  padding: 20px;
}

main h1 {
  text-align: center;
  font-weight: lighter;
  margin-bottom: 10px;
}

.equipes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.equipe-alfa-texto{
  text-align: center;
  margin-right: 70%;
  height: 1px
}

.equipe-beta-texto {
  text-align: center;
  height: 1px;
}

.equipe-gama-texto{
  text-align: center;
  margin-left: 65%;
}

.equipe-alfa, .equipe-beta, .equipe-gama {
  flex-basis: calc(33.33% - 20px);
  background-color: #000000;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.equipe-alfa h1, .equipe-beta h1, .equipe-gama h1 {
  color: hsl(0, 0%, 100%);
  font-size: 24px;
  margin-bottom: 10px;
}

.equipe-alfa img, .equipe-beta img, .equipe-gama img {
  width: 100%;
  max-width: 100%;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.final p {
  font-size: 14px;
}


