body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #41BDD9;
    margin: 0;
}
/* Estilo para o cabeçalho (header) */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
  }
  
  .logo-senai img {
    max-width: 100px;
    height: auto;
  }
  
  .menu a {
    text-decoration: none;
    margin-right: 20px;
    color: white;
    border-radius: 5px;
  }

  a:hover {
    color: rgb(88, 240, 0);
    background-color: black;
    border: 5px solid black;
 }

 .responsaveis {
  background-color: black;
  border: 5px solid black;
  border-radius: 30px;
 }
  
  /* Estilo para o conteúdo principal (main) */
  main {
    margin-top: 40px;
    padding: 20px;
  }
  
 .card1{
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(121, 103, 239, 0.472);
    border: 1px solid #ddd;
    width: 500px;
	  display: inline-block;
    margin-left: 130px;
 }
 .card2 {
    padding: 20px;
    background-color: rgba(121, 103, 239, 0.472);
    border: 1px solid #ddd;
    width: 500px;
	  display: inline-block;
  }
  
  .apresentacao-profissionais h2, .equipes h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: lighter;
  }
  
  .apresentacao-profissionais h3, .equipes h3 {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    
  }
  
  .apresentacao-profissionais img, .equipes img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .equipes img {
    width: 60%;
    margin-left: 300px;
  }
  
  .apresentacao-profissionais p, .equipes p {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  /* Estilo para o rodapé (footer) */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  /* Estilo para a classe final no rodapé */
  .final p {
    font-size: 16px;
  }
  